<div>
<center><h1>Bienvenido {{first_name}} {{last_name}} al mercadito del Tío Ari</h1></center>


  {{#each products}}
    <ul>
      <h2>{{this.title}}</h2>
      <h3>{{this.category}}</h3>
      <p>{{this.description}}</p>
      <p>{{this.price}}</p>

      <form
        method="post"
        action="/api/carts/{{../cartId}}/products/{{this._id}}"
      >
        <button type="submit">Agregar al carrito</button>
      </form>
      <br>
    </ul>
  {{/each}}



  <center>
    {{#if hasPrevPage}}
      <a href="/api/products?limit={{limit}}&page={{prevPage}}"><button
        >anterior</button></a>
    {{/if}}

    {{#if hasNextPage}}
      <a href="/api/products?limit={{limit}}&page={{nextPage}}"><button
        >Siguiente</button></a>
    {{/if}}
    <a href="/api/session/logout"><button>Lougout</button></a>
  </center>
</div>


